@charset "utf-8";
@import 'normalize';
@import 'base';
@import 'nav';



.project {
	list-style-type: none;
	
	h3 {
	}
	
	.hero {
		
	}
	
	.thumbnails {
		float: left;
		> li {
			float: left;
			padding: 10px;
		}
	}
}