---
layout: false
---

<style>
  p {
  	font-size: 17px;
  }
  h1 {
  	background: grey;
  	border-radius: 100px;
  	text-align: center;
  	width: 200px;
  	height: 200px;
  	margin: 50px auto;
  	line-height: 200px;
  }

@-webkit-keyframes spin {
	0% { -webkit-transform: scale(.1) }
	100% { -webkit-transform: scale(10) }
}
  #ball1 {
  	width: 10px;
  	height:10px;
  	background:green;
  	-webkit-animation: spin 2s infinite;
  }
  </style>

<h1/>Mike's site</h1>
<div id=ball1></div>


<a href="#">My work
