---
title: ˙∆˚ Mike Frawley
---

.my-pic
	img id="mikes-pic" src=image_path("mike.jpg")
.text
	h2.greeting Hey There
	p I'm Mike, and this is my very own internet web page.  I'm a software developer in Minneapolis primarily using Ruby on Rails, javascript, and html/css, though I'm always on the lookout for new stuff to try.

	p I've got big plans for this baby, but for now you can check out some of my <strong><a href="work.html" class="big">work<a/></strong>.
ul.links
	li
		a href="https://github.com/ratbeard" target="_blank" Github
	li
		a href="mailto:frawl021@gmail.com" Email


javascript:
  ;(function() {
  	// Preload images for the work page
  	var urls = [
  		"#{image_path('screenshots/protectthefootball/1.jpg')}",
  		"#{image_path('screenshots/protectthefootball/2.jpg')}",
  		"#{image_path('screenshots/protectthefootball/3.jpg')}",
  		"#{image_path('screenshots/protectthefootball/4.jpg')}",
  		"#{image_path('screenshots/innovation/1.jpg')}",
  		"#{image_path('screenshots/innovation/2.jpg')}",
  		"#{image_path('screenshots/innovation/3.jpg')}",
  		"#{image_path('screenshots/innovation/4.jpg')}",
  		"#{image_path('screenshots/innovation/5.jpg')}",
  		"#{image_path('screenshots/cambria/1.jpg')}",
  		"#{image_path('screenshots/cambria/2.jpg')}",
  		"#{image_path('screenshots/cambria/3.jpg')}",
  		"#{image_path('screenshots/cambria/4.jpg')}",
  		"#{image_path('screenshots/cambria/5.jpg')}",
  		"#{image_path('screenshots/cambria/6.jpg')}",
  		"#{image_path('screenshots/lookbook/1.jpg')}",
  		"#{image_path('screenshots/lookbook/2.jpg')}",
  		"#{image_path('screenshots/lookbook/3.jpg')}",
  		"#{image_path('screenshots/lookbook/4.jpg')}",
  		"#{image_path('screenshots/offers/1.jpg')}",
  		"#{image_path('screenshots/offers/2.jpg')}",
  		"#{image_path('screenshots/offers/3.jpg')}",
  		"#{image_path('screenshots/offers/4.jpg')}",
  		"#{image_path('screenshots/wingers/1.jpg')}",
  		"#{image_path('screenshots/wingers/2.jpg')}",
  		"#{image_path('screenshots/wingers/3.jpg')}",
  		"#{image_path('screenshots/wingers/4.jpg')}",
		"#{image_path('screenshots/mycuro/1.jpg')}",
  		"#{image_path('screenshots/mycuro/2.jpg')}",
  		"#{image_path('screenshots/mycuro/3.jpg')}",
  		"#{image_path('screenshots/mycuro/4.jpg')}",
  	]
  	for (var i=0; i < urls.length; i++)  {
  	  new Image().src = urls[i]
  	}
  })();

